target

# Ignore Cargo.lock for sub crates
Cargo.lock

# Do not ignore Cargo.lock for main crate
!/Cargo.lock
target-coverage
provola-core/tmp.exe

# Added for cargo watch
tmp*
*.snap.new

# Added to ignore changes in submodules
provola-catch2/examples/data/catch2
provola-googletest/examples/data/googletest

/provola-googletest/googletest_report.json
googletest_report.json
